* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #ffffff
}

canvas {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/bg-nct.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.xsmb {
    background-color: rgba(0, 0, 0, 0.7);
    width: 250px;
    height: 120px;
    margin: auto;
    border: 1px solid #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 20px 0 0 0;
}

.xsmb-number {
    font-size: 37px;
    color: yellow;
    font-weight: bold;
}

.xsmb button {
    background: transparent;
    font-weight: 600;
}


.content {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.image-map {
    text-align: center;
}

.yel {
    color: yellow
}

.bg-red {
    color: red
}

.bg-green {
    color: greenyellow
}

.title {
    color: #00ff00;
    font-size: 1em;
}

.title a {
    text-decoration: none;
    color: white;
    display: block;
}

.block {
    position: relative;
    width: 100%;
    padding: 15px 10px;
    background: linear-gradient(0deg, #000, #272727);
}

.block h2 {
    margin: 0;
    padding: 0
}

.b-title {
    font-weight: 700
}

.block:before,
.block:after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(50px);
}

.img-partner {
    display: block;
    text-decoration: none;
    max-width: 200px;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.map-random {
    display: none;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
    opacity: 0;
}

.map-default {
    text-align: center;
    display: block;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
    cursor: pointer;
    overflow: hidden;
}

.map-default.showMap {
    display: none;
}

.map-default img {
    max-width: 200px;
}

.spinner-2 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: s2 1s infinite linear;
    display: none;
    margin: 25px 0;
}

@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}

.map-random.showMap {
    text-align: center;
    display: block;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
    opacity: 1;
}

.box-random {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}